// margins
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.m-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-2 {
  padding: 2rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}

// centers the middle section between the two navbars
.middle-section {
  margin: 0 38rem 0 25rem;
  min-height: 100vh;
  background-color: var(--c-background);
  min-height: 100vh;
  overflow-y: scroll;
  padding: 3rem 2rem;
  @media only screen and (max-width: 1100px) {
    margin: 0 0 0 23rem;
  }
  @media only screen and (max-width: 800px) {
    overflow-x: hidden;
    margin: 0;
    padding-top: 2rem;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.profile-image {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--c-gray-md);

  &-sm {
    display: block;
    height: 3.5rem;
    width: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--c-gray-md);
  }
}

.minor-link,
.minor-link:visited {
  text-decoration: none;
  color: var(--c-primary);
  font-size: 1.5rem;
}

.shadow {
  box-shadow: var(--shadow);
}

.text-centered {
  text-align: center;
}

.rounded-2 {
  border-radius: 2rem;
}

.border-b {
  border-bottom: 1px solid var(--c-border);
}
.border-t {
  border-top: 1px solid var(--c-border);
}

.primary-btn {
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 5px;
  color: var(--c-tile);
  background-color: var(--c-primary);
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    opacity: 0.9;
  }
}
.primary-btn-alt {
  border: 2px solid var(--c-primary);
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 5px;
  color: var(--c-primary);
  background-color: transparent;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--c-primary);
    color: var(--c-tile);
  }
}

.verified-badge {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--c-verified);

  &-lg {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.separator {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  font-size: 1.4rem;
  color: var(--c-gray-md);

  &::before {
    content: '';
    height: 1px;
    display: block;
    background-color: var(--c-border);
  }
  &::after {
    content: '';
    height: 1px;
    display: block;
    background-color: var(--c-border);
  }
}

.tweetsMargin {
  margin-top: 2rem;
  @media only screen and (max-width: 400px) {
    margin-top: 1.5rem;
  }
}

.notification-indicator {
  display: inline-block;
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -6px;
  right: 2px;
  background-color: var(--c-pink);
  line-height: 1;
  height: 1.7rem;
  width: 1.7rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator {
  display: block;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  background-color: rgba(129, 140, 248, 0.2);
  color: var(--c-primary);
  font-weight: 500;
  border-radius: 3px;
}
