@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/loader";
@import "components/message";
@import "components/form";
@import "components/sideNav";
@import "components/profileInfo";
@import "components/followRecommendation";
@import "components/card";
@import "components/tweetComposer";
@import "components/tweet";
@import "components/topBar";
@import "components/toast";
@import "components/mobileNav";
@import "components/switch";
@import "components/notice";
@import "components/profilePicHolder";

@import "pages/authScreen";
@import "pages/dashboardScreen";
@import "pages/homeScreen";
@import "pages/tweetScreen";
@import "pages/profileScreen";
@import "pages/searchScreen";
@import "pages/pageNotFound";
