.profileScreen {
  &__images {
    position: relative;
  }

  &__coverpic {
    object-fit: cover;
    aspect-ratio: 3/1;
  }

  &__profilepic {
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    transform: translate(1rem, 50%);
  }

  &__details {
    font-family: "Open Sans", sans-serif;
    padding: 5rem 1.3125rem 0;
    &-name {
      font-family: inherit;
      text-transform: none !important;
      letter-spacing: normal;
      font-weight: bold;
    }

    &-bio,
    &-friends {
      padding-left: 1.3123rem;
    }
  }

  &__follow {
    padding: 0.7rem 1.5rem;
    border: 2px solid var(--c-blue);
    background-color: white;
    border-radius: 5px;
    color: var(--c-blue);
    font-weight: bold;

    &:hover {
      background-color: var(--c-blue);
      color: white;
      border: 2px solid var(--c-blue);
    }
  }
}
