.searchScreen {
  &__searchbar {
    background-color: #ebeef0;
    border-radius: 5px;
    padding-left: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    &-input {
      border: none;
      background-color: inherit;
      opacity: 0.5;
      padding: 10px;
      outline: none;
      flex: 1;
    }
  }
}
