.sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 1rem;
  &__nav {
    padding: 1rem 0;
  }

  &__navlink {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #55595c;
    padding: 1rem;
    line-height: 1 !important;

    & > i {
      margin-right: 1rem;
      font-size: 1.3rem;
    }

    &:hover {
      box-sizing: border-box;
      color: var(--c-blue);
      background-color: rgba(#1f9bcf, 0.1);
      border-radius: 0.5rem;
    }
  }

  &__cta {
    padding: 1rem 3rem;
    background-color: var(--c-blue);
    color: white;
    border: none;
    margin-top: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }
  }
}

.profileRow {
  cursor: pointer;
  position: relative;
  flex-wrap: nowrap;

  &__col {
    max-width: 75px !important;
    min-width: 75px !important;
  }

  &__popup {
    // height: 40px;
    width: 100%;
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    left: 10%;
    transform: translate(0%, -110%);
    padding: 1rem 1rem;

    &::before {
      content: "";
      height: 10px;
      width: 10px;
      background-color: #f3f3f3;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: rotate(-45deg) translateX(-50%);
    }
  }

  &__logout {
    font-weight: bold;
    color: var(--c-blue);
    line-height: 1;
    font-size: 1rem;
  }
}

.loggedInText {
  color: #999;
}
