:root {
  --c-primary: #818cf8;
  --c-secondary: #25396f;
  --c-background: #f7faff;
  --c-gray-dark: #828282;
  --c-gray-md: #a4b6e1;
  --c-gray-light: #d8e4f2;
  --c-gray-lighter: #f9f9f9;
  --c-black: #1e1e1e;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1366px;
}
