body {
  font-family: "Inter", sans-serif;
  color: var(--c-black);
}

.logo-text {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--c-primary);
  line-height: 1;
}

.heading-lg {
  font-size: 2.4rem;
  color: var(--c-secondary);
  font-weight: bold;
}

.heading-md {
  font-size: 2rem;
  color: var(--c-secondary);
  font-weight: bold;
}

.heading-sm {
  font-size: 1.8rem;
  color: var(--c-secondary);
  font-weight: bold;
}

.username-text {
  font-size: 1.5rem;
  color: var(--c-secondary);
  font-weight: bold;
}

.subtitle-text {
  font-size: 1.4rem;
  color: var(--c-gray-md);
}
