// margins
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.profile-image {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}

.minor-link,
.minor-link:visited {
  text-decoration: none;
  color: var(--c-primary);
}
