.authScreen {
  display: flex;
  min-height: 100vh;

  &__content {
    width: 50%;
    padding: 3rem 11.5rem 0 11.5rem;
  }

  &__formContainer {
    padding-top: 3rem;
  }

  &__decor {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    background: url(/images/pattern.png) left / cover no-repeat;
    background-color: var(--c-secondary);
  }
}
