.homeScreen {
  min-height: 100vh;
}

.rightNav {
  height: 100%;
  padding: 0 4rem 0 4rem;
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 3rem 0;
    width: 38rem;
  }
}

.newsFeed {
  margin: 0 38rem 0 25rem;
  min-height: 100vh;
  background-color: var(--c-background);
  overflow-y: scroll;
  padding: 3rem 2rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
