.homeScreen {
  max-height: 100vh;
  position: relative;

  &__samiptterLogo {
    height: 5rem;
  }

  &__logoHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &-left {
      justify-content: flex-start;
    }
  }

  &__topNav {
    display: none;
    padding: 2rem;
    background-color: var(--c-tile);
    border-radius: 0 0 1rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    color: var(--c-primary);
    font-size: 2.5rem;
    position: relative;

    & > .logo-text {
      color: var(--c-primary);
    }

    & > i {
      position: absolute;
      top: 50%;
      left: 3rem;
      transform: translateY(-50%);
    }

    @media only screen and (max-width: 800px) {
      display: block;
    }
  }
}

.rightNav {
  height: 100%;

  padding: 0 4rem 0 4rem;
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 0 0 3rem;
    width: 38rem;
    background-color: var(--c-body);

    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }
}

.newsFeed {
  margin: 0 38rem 0 25rem;
  background-color: var(--c-background);
  padding: 3rem 2rem;
  height: 100vh;
  overflow: scroll;

  @media only screen and (max-width: 1100px) {
    margin: 0 0 0 23rem;
  }

  @media only screen and (max-width: 800px) {
    overflow-x: hidden;
    margin: 0;
    padding-top: 2rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
