.searchScreen {
  &__form {
    background-color: var(--c-tile);
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__input {
    background-color: var(--c-tile);
    padding: 1rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--c-black);
    border: none;
    outline: none;
    flex: 1;
  }

  &__button {
    cursor: pointer;
    border: none;
    background-color: var(--c-primary);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--c-secondary);
    }
  }

  &__info {
    font-size: 1.8rem;
    color: var(--c-primary);
    font-weight: 400;
    margin: 2rem 0;

    & > span {
      color: var(--c-secondary);
      font-weight: bold;
    }
  }
}
