.searchScreen {
  max-height: 100vh;
  position: relative;

  &__form {
    background-color: var(--c-tile);
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__input {
    background-color: var(--c-tile);
    padding: 1rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--c-black);
    border: none;
    outline: none;
    flex: 1;
  }

  &__button {
    cursor: pointer;
    border: none;
    background-color: var(--c-primary);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--c-secondary);
    }
  }

  &__type {
    display: flex;
    align-items: center;
  }

  &__option {
    width: 50%;
    padding: 2rem 0;
    color: var(--c-gray-md);
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: all 0.1s ease;

    &-active {
      color: var(--c-primary);
      border-bottom: 3px solid var(--c-primary);
    }
  }

  &__userList {
    background-color: var(--c-tile);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__info {
    font-size: 1.8rem;
    color: var(--c-primary);
    font-weight: 400;
    margin: 2rem 0;

    & > span {
      color: var(--c-secondary);
      font-weight: bold;
    }
  }
}
