.commentSection {
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
  line-height: 1;
  &__header {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__icon {
    font-size: 2rem;
    color: var(--c-primary);
  }
}
