.Card {
  background-color: var(--c-tile);
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;

  &__icon {
    font-size: 3rem;
    color: var(--c-secondary);
  }
}
