.followRecommendation {
  position: sticky;
  top: 0;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--c-border);
  &__topRow {
    display: flex;
    gap: 8rem;
    align-items: center;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
