.alert {
  padding: 1.5rem 2rem;
  background-color: rgba(#e63946, 0.3);
  background-color: #ffb037;
  font-size: 1.8rem;
  text-align: center;
  width: 100%;
  margin: 2rem auto;
  color: var(--color-blue-secondary);
  color: white;

  &.danger {
    background-color: #e63946;
    color: white;
  }
}

.fa-exclamation-circle {
  margin-right: 1rem;
  font-size: 2rem;
}
