.notice {
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  //   background-image: linear-gradient(
  //     to right bottom,
  //     var(--c-primary-light),
  //     var(--c-primary)
  //   );

  background-color: rgba(129, 140, 248, 0.5);
  display: flex;
  gap: 1rem;

  &__icon {
    & > svg {
      height: 2rem;
      fill: white;
      color: white;
    }
  }

  &__description {
    color: var(--c-secondary);
    font-size: 1.4rem;

    & > a {
      color: inherit;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
