.notice {
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  //   background-image: linear-gradient(
  //     to right bottom,
  //     var(--c-primary-light),
  //     var(--c-primary)
  //   );

  background-color: #e0e7ff;
  display: flex;
  gap: 1rem;

  &__icon {
    & > svg {
      height: 3.5rem;
      stroke: var(--c-primary);
      stroke-width: 2px;
    }
  }

  &__description {
    color: var(--c-secondary);
    font-size: 1.4rem;
  }

  &__links {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
}
