.profileInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 400px) {
    align-items: flex-start;
  }

  &__name {
    word-break: break-word;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  &__bio {
    margin-top: 0.5rem;
  }
}
