.sideNav {
  position: fixed;
  height: 100vh;
  width: 25rem;
  background-color: var(--c-body);
  @media only screen and (max-width: 1100px) {
    width: 23rem;
  }
  @media only screen and (max-width: 800px) {
    display: none;
  }
  &__logoHolder {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__logo {
    height: 5rem;
  }

  &__nav {
    padding: 3rem 4rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media only screen and (max-width: 1100px) {
      padding: 3rem 2rem 2rem;
    }
  }

  &__navlinks {
    list-style: none;
  }

  &__navlink {
    padding: 2rem;
    border-radius: 1rem;
    font-weight: 500;
    line-height: 1;
    display: block;
    font-size: 1.8rem;
    color: var(--c-gray-md);
    transition: color 0.3s;

    &:hover,
    &-active {
      color: var(--c-secondary);
      background-color: var(--c-background);
    }
  }

  &__themeToggle {
    padding: 2rem;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--c-gray-md);
    cursor: pointer;
    transition: color 0.3s;

    &:hover,
    &-active {
      color: var(--c-secondary);
      background-color: var(--c-background);
    }

    & > i {
      transition: all 0.3s;
    }
  }

  &__profileInfo {
    cursor: pointer;
    user-select: none;
    margin-top: auto;
    position: relative;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid var(--c-primary);
    }
  }

  &__popup {
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: -2rem;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    background-color: var(--c-background);
    border-radius: 2rem;
    overflow: hidden;
    display: none;

    &-visible {
      display: block;
    }
  }

  &__popupOption {
    padding: 1.5rem;
  }

  &__logOut {
    text-align: center;

    transition: all 0.3s ease;

    &:hover {
      color: var(--c-primary);
    }
  }

  &__darkSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
