.toast {
  padding: 1.5rem 2rem;
  background-color: #ffb037;
  font-size: 1.6rem;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border-radius: 5px;
  display: none;
  animation-name: moveUp;
  animation-duration: 1s;
  animation-timing-function: ease;

  &.visible {
    display: block;
  }

  &.danger {
    background-color: #e63946;
    color: white;
  }
}

.fa-exclamation-circle {
  margin-right: 1rem;
  font-size: 2rem;
}
