.tweet {
  background-color: var(--c-tile);
  padding: 2rem;
  display: flex;
  gap: 1rem;
  position: relative;

  &-major {
    border: 2px solid var(--c-primary);
  }

  &__details {
    flex: 1;
  }

  &__info {
    padding: 0.5rem 0 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__content {
    font-family: "Open Sans";
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--c-black);
    padding-bottom: 2rem;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__like,
  &__comment {
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: var(--c-gray-dark);

    &:hover {
      color: var(--c-primary);
    }
  }

  &__like:hover {
    color: var(--c-pink);
  }
  &__actionIcon {
    font-size: 1.6rem;

    &-liked {
      color: var(--c-pink);
    }
  }

  &__optionIcon {
    display: block;
    margin-left: auto;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--c-secondary);
  }

  &__backDrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  &__popup {
    position: absolute;
    background-color: var(--c-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    top: 2rem;
    right: 2rem;
    border-radius: 1rem;
    z-index: 11;
  }

  &__popOption {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--c-pink);

    &:hover {
      background-color: var(--c-pink);
      color: var(--c-background);
    }
  }
}
